.logo{
    width: 130px;
    height: 70px;
    border-radius: 50%;
}
.background{
    background-color: rgba(1, 1, 39, 0.945);
    position: fixed;
    width: 100%;
}
.headers{
    padding-bottom: 90px;
}
.buttons{
    display: flex;
}

@media only screen and (max-width: 600px){
    .buttons{
        margin-left: 70px;
    }
    .background{
       position:sticky;
       width: 100%;
    }
    .headers{
        padding-bottom: 0px;
    }
    .buttons{
        width: 100%;
    }
}